/*Adicionar estilos ao input*/

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: black 1px solid;
    margin-right: 10px;
    flex-grow: 1;
}

.add-task-button{
    background-color: greenyellow;
    color: aliceblue;
    border: blue 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: grab;
    transition: all 0.3s ease-in-out;
}

.add-task-button:hover{
    background-color: bisque;
    color: black;
}

ul{
    list-style: circle;
    padding: 1px;
}

li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid yellowgreen;
}

li button{
    background-color: brown;
    color: wheat;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: crosshair;
}

li button:hover{
    background-color: aqua;
    color: bisque;
}
